@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ha ocurrido un error mientras intentabas ingresar tu solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Posible Causa</h3>
<p>
    Estás intentando ingresar un obejeto que<strong> YA EXISTE </strong> en la base de datos.
</p>

<div>
     <h4><button onclick="goBack()">Volver Atrás</button></h4>

        <script>
        function goBack() {
            window.history.back();
        }
</script> 
</div>
