@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3> -->

<address>
    Casa Central. Angamos 0610, Antofagasta.<br />
    <abbr title="Phone">Phone:</abbr>
    +56 55 2355000
</address>

<address>
    <strong>Developer:</strong> <a href="ivda.calderon@gmail.com">ivda.calderon@gmail.com</a><br />
    <strong>Developer:</strong> <a href="josediazv04@gmail.com">josediazv04@gmail.com</a><br />
    <strong>Developer:</strong> <a href="raos.fast@gmail.com">raos.fast@gmail.com</a>
</address>
